[submodule "FunctionalNodeGraphWPF"]
	path = FunctionalNodeGraphWPF
	url = https://github.com/Nielk1/FunctionalNodeGraphWPF/
[submodule "EmoteEngineNet"]
	path = EmoteEngineNet
	url = https://github.com/Nielk1/EmoteEngineNet
[submodule "DotNetZip.ZipReducedKeyDecrypt"]
	path = DotNetZip.ZipReducedKeyDecrypt
	url = https://github.com/Nielk1/DotNetZip.ZipReducedKeyDecrypt
